<!doctype html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#38BDF8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-mobile-web-app-title" content="Crusher" />

        <script>
            (() => {
                try {
                    const storedTheme = localStorage.getItem("theme");
                    const theme = storedTheme || "light";
                    document.documentElement.setAttribute("data-theme", theme);
                } catch (error) {
                    document.documentElement.setAttribute(
                        "data-theme",
                        "light",
                    );
                }
            })();
        </script>

        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
            Crusher
        </title>

        <link rel="manifest" th:href="@{/manifest.json}" />
        <link rel="icon" th:href="@{/favicon.ico}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            th:href="@{/icons/apple-touch-icon.png}"
        />
        <script src="https://unpkg.com/ios-pwa-splash@1.0.0/cdn.min.js"></script>
        <script>
            iosPWASplash("@{/icons/apple-touch-icon.png}", "#38BDF8");
        </script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        />
        <link rel="stylesheet" th:href="@{/css/_build.css}" />
        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            defer
        ></script>
        <script th:src="@{/js/app.js}" defer></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="min-h-screen flex flex-col">
        <x th:replace="~{components/nav :: nav}"></x>
        <x th:replace="~{components/toast :: toast}"></x>
        <x layout:fragment="content"></x>
        <x th:replace="~{components/footer :: footer}"></x>
    </body>
</html>
