<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
            Crusher
        </title>

        <link rel="stylesheet" th:href="@{/css/_build.css}" />
    </head>
    <body class="min-h-screen flex flex-col bg-gray-50">
        <x th:replace="~{components/nav :: nav}"></x>
        <x layout:fragment="content"></x>
        <x th:replace="~{components/footer :: footer}"></x>
    </body>
</html>
