<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <div class="my-12">
            <div class="flex items-center justify-between mb-6">
                <div>
                    <h2 class="text-2xl font-semibold" th:text="${gym.name}">
                        Gym Name
                    </h2>
                </div>
                <a
                    th:href="@{/admin/gyms/{id}(id=${gym.id})}"
                    class="px-3 py-2 border rounded"
                    >Back to Gym</a
                >
            </div>

            <th:block
                th:replace="~{components/gym-form :: gym-form(
                    @{/admin/gyms/{id}(id=${gym.id})},
                    ${gym}
                )}"
            ></th:block>

            <div class="mt-8">
                <form
                    th:action="@{/admin/gyms/{id}(id=${gym.id})}"
                    method="post"
                >
                    <input type="hidden" name="_method" value="delete" />
                    <button
                        type="submit"
                        class="px-3 py-2 text-white bg-red-600 rounded"
                    >
                        Delete Gym
                    </button>
                </form>
            </div>
        </div>
    </th:block>
</th:block>
