<form
    th:fragment="boulder(actionUrl, boulder, gym, sector, availableColors, availableGrades)"
    th:action="${actionUrl}"
    th:object="${boulder}"
    method="post"
    class="space-y-4"
    xmlns:th="http://www.thymeleaf.org"
>
    <input
        type="hidden"
        name="_method"
        th:value="${boulder.id} != null ? 'put' : 'post'"
    />

    <div class="space-y-2">
        <label class="block">Description</label>
        <input
            th:field="*{description}"
            class="text-input w-full"
            placeholder="e.g., Links hinten"
            required
        />
        <p
            th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
            class="text-error text-sm mt-1"
        ></p>
    </div>

    <div class="space-y-2">
        <label class="block">Color</label>
        <select th:field="*{color}" class="text-input w-full" required>
            <option
                th:each="colorOption : ${availableColors}"
                th:value="${colorOption}"
                th:text="${colorOption.displayName}"
            >
                Color
            </option>
        </select>
        <p
            th:if="${#fields.hasErrors('color')}"
            th:errors="*{color}"
            class="text-error text-sm mt-1"
        ></p>
    </div>

    <div class="space-y-2">
        <label class="block">Grade</label>
        <select th:field="*{grade.id}" class="text-input w-full" required>
            <option
                th:each="gradeOption : ${availableGrades}"
                th:value="${gradeOption.id}"
                th:text="${gradeOption.name}"
            >
                Grade
            </option>
        </select>
        <p
            th:if="${#fields.hasErrors('grade')}"
            th:errors="*{grade}"
            class="text-error text-sm mt-1"
        ></p>
    </div>

    <div class="space-y-2">
        <label class="block">Number of holds</label>
        <input
            type="number"
            min="1"
            step="1"
            th:field="*{holdsCount}"
            class="text-input w-full"
            placeholder="e.g., 20"
            required
        />
        <p
            th:if="${#fields.hasErrors('holdsCount')}"
            th:errors="*{holdsCount}"
            class="text-error text-sm mt-1"
        ></p>
    </div>

    <button type="submit" class="button button-primary mt-8 ml-auto">
        Save
    </button>
</form>
