<form
    th:fragment="sector(actionUrl, sector, gym)"
    th:action="${actionUrl}"
    th:object="${sector}"
    method="post"
    class="space-y-4"
    xmlns:th="http://www.thymeleaf.org"
>
    <input
        type="hidden"
        name="_method"
        th:value="${sector.id} != null ? 'put' : 'post'"
    />

    <div class="space-y-2">
        <label class="block">Name</label>
        <input th:field="*{name}" class="text-input w-full" />
        <p
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
            class="text-error text-sm mt-1"
        ></p>
    </div>

    <div class="space-y-2">
        <label class="block">Description</label>
        <textarea
            th:field="*{description}"
            class="text-input w-full"
            rows="4"
        ></textarea>
    </div>

    <button type="submit" class="button button-primary mt-8 ml-auto">
        Save
    </button>
</form>
