<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <div
                th:replace="~{components/breadcrumb :: breadcrumb(${breadcrumb})}"
            ></div>

            <div class="flex items-center gap-4">
                <a th:href="@{/}" class="button button-square">
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 flex items-center justify-between p-4"
                >
                    <h1>Gyms</h1>
                </header>
            </div>

            <section class="card p-4 space-y-4">
                <div class="grid lg:grid-cols-3 gap-4">
                    <a
                        th:each="gym : ${gyms}"
                        th:href="@{/admin/gyms/{id}(id=${gym.id})}"
                        class="block"
                    >
                        <div
                            class="aspect-video rounded-base border-2 overflow-clip bg-background flex flex-col items-center justify-center gap-2 text-main-foreground text-center p-4"
                        >
                            <div class="space-y-2">
                                <h3 th:text="${gym.name}">Gym Name</h3>
                                <p class="text-sm text-main-foreground">
                                    <span th:text="${gym.street}">Street</span>,
                                    <span th:text="${gym.city}">City</span>
                                </p>
                                <p
                                    class="text-sm text-main-foreground"
                                    th:text="${gym.email}"
                                >
                                    Email
                                </p>
                            </div>
                        </div>
                    </a>

                    <a th:href="@{/admin/gyms/create}" class="block space-y-2">
                        <div
                            class="bg-success aspect-video rounded-base border-2 flex flex-col items-center justify-center gap-2 text-center"
                        >
                            <x
                                th:replace="~{components/icons :: circle-plus}"
                            ></x>
                            <h3>Create New Gym</h3>
                        </div>
                    </a>
                </div>

                <div th:if="${#lists.isEmpty(gyms)}">
                    <p>
                        No gyms added yet. Click the card above to create your
                        first gym.
                    </p>
                </div>
            </section>
        </main>
    </th:block>
</th:block>
