<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <div
            class="wrapper"
            th:with="breadcrumb=${ { {label: 'Home', url: '/'}, {label: 'Gyms', url: '/gyms'}, {label: gym.name, url: '/gyms/' + gym.id} } }"
        >
            <x
                th:replace="~{components/breadcrumb :: breadcrumb(${breadcrumb})}"
            ></x>

            <div class="flex items-center gap-4">
                <a th:href="@{/gyms}" class="button button-square">
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 p-card-inner flex items-center gap-4"
                >
                    <h1>Gym Details</h1>
                </header>
            </div>

            <div
                class="space-y-2 xl:text-center xl:*:justify-center p-card-inner"
            >
                <h2
                    class="text-6xl font-bold text-accent mb-4"
                    th:text="${gym.name}"
                >
                    Gym Name
                </h2>
                <p class="flex items-center gap-2">
                    <x th:replace="~{components/icons :: map-pin}"></x>
                    <span th:text="${gym.city} + ', ' + ${gym.street}">
                        City, Street
                    </span>
                </p>
                <p class="flex items-center gap-2">
                    <x th:replace="~{components/icons :: mail}"></x>
                    <span th:text="${gym.email}">email@example.com</span>
                </p>
            </div>

            <details class="card overflow-clip group mx-auto max-w-3xl">
                <summary class="p-4 flex items-center gap-2 justify-center">
                    <x th:replace="~{components/icons :: map}"></x>
                    <p>
                        <span class="group-open:hidden">Show map</span>
                        <span class="group-open:block hidden">Hide map</span>
                    </p>
                </summary>

                <div
                    id="gym-map"
                    class="w-full aspect-square overflow-hidden max-h-[80vh]"
                    th:data-lat="${gym.latitude}"
                    th:data-lng="${gym.longitude}"
                    th:data-name="${gym.name}"
                    th:data-address="${gym.city} + ', ' + ${gym.street}"
                ></div>
            </details>

            <div class="w-full flex gap-card-outer *:flex-1">
                <section
                    class="card p-card-inner flex flex-col items-center justify-center text-center"
                >
                    <!-- Total Boulders -->
                    <p class="text-sm font-medium text-foreground-muted">
                        Total Boulders
                    </p>
                    <p
                        class="text-6xl font-bold text-success"
                        th:text="${boulderCount}"
                    >
                        0
                    </p>
                </section>

                <section
                    class="card p-card-inner flex flex-col items-center justify-center text-center"
                    th:if="${gym.crowdLevelUrl != null and !#strings.isEmpty(gym.crowdLevelUrl)}"
                    id="crowd-level-container"
                    th:data-gym-id="${gym.id}"
                >
                    <div>
                        <p class="text-sm font-medium text-foreground-muted">
                            Crowd Level
                        </p>
                        <p
                            id="crowd-level-percentage"
                            class="text-6xl font-bold text-accent"
                        ></p>
                    </div>
                </section>

                <section
                    class="card p-card-inner flex flex-col items-center justify-center text-center"
                    th:if="${weather != null}"
                >
                    <p class="text-sm font-medium text-foreground-muted">
                        Current Weather
                    </p>
                    <div
                        class="flex items-center justify-center gap-4 text-accent"
                    >
                        <div
                            th:replace="~{components/icons :: ${weather.icon()}}"
                        ></div>
                        <p
                            class="text-6xl font-bold"
                            th:text="${weather.text()}"
                        >
                            Sunny
                        </p>
                    </div>
                </section>
            </div>

            <!-- Your Rating -->
            <section
                class="card p-card-inner flex flex-col items-center justify-center space-y-4"
            >
                <p class="text-sm font-medium text-foreground-muted">
                    Your Rating
                </p>
                <div
                    th:replace="~{components/star-rating :: star-rating('/gyms/' + ${gym.id} + '/rating', ${currentRating}, ${averageRating})}"
                ></div>
            </section>

            <div class="lg:grid grid-cols-3 gap-card-outer *:self-start">
                <!-- Events -->
                <section
                    class="card p-card-inner space-y-4"
                    th:if="${!events.isEmpty()}"
                >
                    <h2>Events</h2>
                    <th:block
                        th:each="eventOccurrence, iterStat : ${events}"
                        th:if="${iterStat.index < 3}"
                        th:insert="~{components/event-item :: event-item(${gym.id}, ${eventOccurrence})}"
                    ></th:block>
                    <details
                        th:if="${#lists.size(events) > 3}"
                        class="show-more group"
                    >
                        <summary>
                            <span class="group-open:hidden"
                                >Show more events</span
                            >
                            <span class="group-open:block hidden"
                                >Show less events</span
                            >
                        </summary>
                        <div class="space-y-4">
                            <th:block
                                th:each="eventOccurrence, iterStat : ${events}"
                                th:if="${iterStat.index >= 3}"
                                th:insert="~{components/event-item :: event-item(${gym.id}, ${eventOccurrence})}"
                            ></th:block>
                        </div>
                    </details>
                </section>

                <!-- Notices -->
                <section
                    class="card p-card-inner space-y-4 self-start"
                    th:if="${!notices.isEmpty()}"
                >
                    <h2>Notices</h2>
                    <div class="space-y-4">
                        <th:block
                            th:each="notice, iterStat : ${notices}"
                            th:if="${iterStat.index < 3}"
                            th:insert="~{components/notice-item :: notice-item(${notice})}"
                        ></th:block>
                    </div>
                    <details
                        th:if="${#lists.size(notices) > 3}"
                        class="show-more group"
                    >
                        <summary>
                            <span class="group-open:hidden"
                                >Show more notices</span
                            >
                            <span class="group-open:block hidden"
                                >Show less notices</span
                            >
                        </summary>
                        <div class="space-y-4">
                            <th:block
                                th:each="notice, iterStat : ${notices}"
                                th:if="${iterStat.index >= 3}"
                                th:insert="~{components/notice-item :: notice-item(${notice})}"
                            ></th:block>
                        </div>
                    </details>
                </section>

                <!-- Comments -->
                <section class="card p-card-inner self-start">
                    <div
                        th:replace="~{components/comments :: comments('/gyms/' + ${gym.id} + '/comments', ${comments}, '/gyms/' + ${gym.id} + '/comments')}"
                    ></div>
                </section>
            </div>
        </div>
    </th:block>
</th:block>
