<!-- Simple Card Component -->
<div th:fragment="card(title, content)" class="card" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="card-header">
        <h3 th:text="${title}">Card Title</h3>
    </div>
    <div class="card-body">
        <p th:text="${content}">Card content goes here</p>
    </div>
</div>

<!-- Card with custom content -->
<div th:fragment="card-custom(title)" class="card" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="card-header">
        <h3 th:text="${title}">Card Title</h3>
    </div>
    <div class="card-body">
        <th:block layout:fragment="card-content">
            <!-- Custom content will be inserted here -->
        </th:block>
    </div>
</div>

