<section
    th:fragment="comments(actionUrl, comments)"
    class="card p-4 space-y-4"
    xmlns:th="http://www.thymeleaf.org"
>
    <h2>Comments</h2>

    <form
        th:action="@{${actionUrl}}"
        method="post"
        class="w-full space-y-4"
        x-data="{ comment: '' }"
    >
        <div class="flex gap-3">
            <div
                th:replace="~{components/avatar :: avatar(${#authentication.principal.username})}"
                class="self-start mt-3"
            ></div>
            <textarea
                id="comment"
                name="comment"
                rows="3"
                class="text-input w-full"
                placeholder="Add your comment"
                required
                x-model="comment"
            ></textarea>
        </div>
        <button
            type="submit"
            class="button ms-auto"
            x-bind:disabled="comment.length === 0"
        >
            Comment
        </button>
    </form>

    <div
        th:if="${comments == null || comments.isEmpty()}"
        class="text-sm text-muted-foreground text-center py-8"
    >
        No comments yet. Be the first to comment!
    </div>

    <div
        th:unless="${comments == null || comments.isEmpty()}"
        class="flex flex-col gap-4"
    >
        <div th:each="comment : ${comments}" class="card p-4 space-y-3">
            <div class="flex items-center gap-2">
                <div
                    th:replace="~{components/avatar :: avatar(${comment.user.name})}"
                ></div>
                <span
                    class="font-bold text-xs text-muted-foreground"
                    th:text="${comment.user.name}"
                >
                    Username
                </span>
                <span class="text-xs text-muted-foreground"> • </span>
                <span class="text-xs text-muted-foreground">
                    <span
                        th:text="${#temporals.format(comment.createdAt, 'dd.MM.yyyy HH:mm')}"
                    >
                        01.01.2024 12:00
                    </span>
                </span>
            </div>
            <p
                class="text-2xl font-bold text-accent whitespace-pre-wrap leading-tight"
                th:text="${comment.comment}"
            >
                Comment text goes here
            </p>
        </div>
    </div>
</section>
