<nav
    th:fragment="nav"
    class="border-b-4 bg-secondary-background"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
    <div class="container mx-auto p-4">
        <div class="flex items-center justify-between">
            <a href="/"> Crusher </a>

            <div class="flex items-center gap-4">
                <form
                    th:action="@{/logout}"
                    method="post"
                    class="inline"
                    sec:authorize="isAuthenticated()"
                >
                    <button type="submit" class="button button-neutral">
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
