<nav
    th:fragment="nav"
    class="border-b-4 bg-secondary-background"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
    <div class="container mx-auto p-4">
        <div class="flex items-center justify-between">
            <a href="/" class="font-bold">crusher</a>

            <div class="flex items-center gap-4">
                <p
                    sec:authorize="isAuthenticated()"
                    class="flex items-center gap-2 px-4"
                >
                    <x th:replace="~{components/icons :: user}"></x>
                    <span sec:authentication="principal.username"></span>
                </p>

                <a
                    href="/admin/gyms"
                    class="button button-neutral"
                    sec:authorize="hasAnyRole('ADMIN', 'OWNER')"
                >
                    Admin Panel
                </a>

                <form
                    th:action="@{/logout}"
                    method="post"
                    class="inline"
                    sec:authorize="isAuthenticated()"
                >
                    <button type="submit" class="button button-neutral">
                        Logout
                        <x th:replace="~{components/icons :: log-out}"></x>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
