<div
    id="toast"
    th:fragment="toast"
    th:if="${toast != null}"
    th:class="'notification toast animate-slide-in-right ' + (${toast.containsKey('type')} ? (${toast.type == 'success'} ? 'success' : (${toast.type == 'error'} ? 'danger' : 'main')) : 'main')"
>
    <span th:if="${toast.containsKey('type') and toast.type == 'success'}">
        <x th:replace="~{components/icons :: check}"></x>
    </span>
    <span th:if="${toast.containsKey('type') and toast.type == 'error'}">
        <x th:replace="~{components/icons :: x}"></x>
    </span>
    <span
        th:if="${!toast.containsKey('type') or (toast.type != 'success' and toast.type != 'error')}"
    >
        <x th:replace="~{components/icons :: info}"></x>
    </span>

    <strong th:if="${toast.containsKey('title')}" th:text="${toast.title}"
        >Title</strong
    >
    <p th:if="${toast.containsKey('message')}" th:text="${toast.message}">
        Message
    </p>
</div>
