<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main
            class="wrapper"
            th:with="breadcrumb=${ { {label: 'Home', url: '/'}, {label: 'Sessions', url: '/sessions'}, {label: 'Session', url: '/sessions/' + currentSession.id}, {label: 'Go #' + go.id, url: '/sessions/' + currentSession.id + '/goes/' + go.id}, {label: 'Edit', url: ''} } }"
        >
            <div
                th:replace="~{components/breadcrumb :: breadcrumb(${breadcrumb})}"
            ></div>

            <div class="flex items-center gap-4">
                <a
                    th:href="@{/sessions/{sessionId}(sessionId=${currentSession.id})}"
                    class="button button-square"
                >
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 flex items-center justify-between p-card-inner"
                >
                    <h1>Edit Go</h1>
                </header>
            </div>

            <section class="card p-card-inner max-w-md mx-auto space-y-6">
                <th:block
                    th:replace="~{components/cu-forms/go :: go(
                    @{/sessions/{sessionId}/goes/{goId}(sessionId=${currentSession.id}, goId=${go.id})},
                    ${go},
                    ${boulder},
                    ${false},
                    ${false},
                    ${false}
                )}"
                ></th:block>
            </section>
        </main>
    </th:block>
</th:block>
