<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <div class="flex items-center gap-4">
                <a
                    th:href="@{/admin/gyms/{gymId}(gymId=${gym.id})}"
                    class="button button-square"
                >
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 p-4 flex items-center justify-between"
                >
                    <h1>Edit Grade</h1>
                </header>
            </div>

            <section class="card p-4 max-w-md mx-auto">
                <th:block
                    th:replace="~{components/cu-forms/grade :: grade(
                    @{/admin/gyms/{gymId}/grades/{gradeId}(gymId=${gym.id}, gradeId=${grade.id})},
                    ${grade},
                    ${gym}
                )}"
                ></th:block>
            </section>

            <div
                class="card max-w-md mx-auto p-4 flex items-center justify-between"
            >
                <p>Delete Grade</p>
                <form
                    th:action="@{/admin/gyms/{gymId}/grades/{gradeId}(gymId=${gym.id}, gradeId=${grade.id})}"
                    method="post"
                >
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="button button-danger">
                        Delete Grade
                    </button>
                </form>
            </div>
        </main>
    </th:block>
</th:block>
