<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="container mx-auto px-4 py-16 space-y-8">
            <h1>Component Reference</h1>

            <h2>Buttons</h2>

            <div class="flex gap-4">
                <div class="space-y-4 *:w-full">
                    <p>Default</p>
                    <button class="button">Button</button>
                    <button class="button primary">Primary</button>
                    <button class="button danger">Danger</button>
                    <button class="button success">Success</button>
                    <button class="button warning">Warning</button>
                    <button class="button button-ghost">Ghost</button>
                </div>
                <div class="space-y-4 *:w-full">
                    <p>With Icon</p>
                    <button class="button">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Button
                    </button>
                    <button class="button primary">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Primary
                    </button>
                    <button class="button danger">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Danger
                    </button>
                    <button class="button success">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Success
                    </button>
                    <button class="button warning">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Warning
                    </button>
                    <button class="button button-ghost">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x
                        >Ghost
                    </button>
                </div>
                <div class="space-y-4">
                    <p>Icon Only</p>
                    <button class="button button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                    <button class="button primary button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                    <button class="button danger button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                    <button class="button success button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                    <button class="button warning button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                    <button class="button button-ghost button-square">
                        <x
                            th:replace="~{components/icons :: square-arrow-out-up-right}"
                        ></x>
                    </button>
                </div>
                <div class="space-y-4 *:w-full">
                    <p>Disabled</p>
                    <button class="button" disabled>Button</button>
                    <button class="button primary" disabled>Primary</button>
                    <button class="button danger" disabled>Danger</button>
                    <button class="button success" disabled>Success</button>
                    <button class="button warning" disabled>Warning</button>
                    <button class="button button-ghost" disabled>Ghost</button>
                </div>
            </div>

            <h2>Inputs</h2>
            <div class="space-y-4">
                <p>Default</p>
                <input
                    class="text-input"
                    type="text"
                    placeholder="Text Input"
                />
                <p>Disabled</p>
                <input
                    disabled
                    class="text-input"
                    type="text"
                    placeholder="Text Input"
                />
            </div>

            <h2>Dialogs</h2>
            <div class="space-y-4">
                <p>Default</p>
                <button class="button" onclick="openDialog('dialog-1')">
                    Open Dialog
                </button>
                <dialog id="dialog-1" class="dialog space-y-4" closedby="any">
                    <h3>Dialog</h3>
                    <p>This is a dialog</p>
                    <div class="flex justify-end gap-4">
                        <button
                            autofocus
                            class="button"
                            onclick="closeDialog('dialog-1')"
                        >
                            Close
                        </button>
                        <button
                            autofocus
                            class="button primary"
                            onclick="closeDialog('dialog-1')"
                        >
                            OK
                        </button>
                    </div>
                </dialog>
            </div>
        </main>
    </th:block>
</th:block>
