<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <h1 class="text-center my-8">Dashboard</h1>
            <nav class="space-y-4 max-w-sm mx-auto">
                <div class="flex flex-col gap-4">
                    <a href="/sessions" class="button primary">Sessions</a>
                    <a href="/boulders" class="button primary">Boulders</a>
                    <a href="#" class="button primary" disabled>
                        Events (coming soon)
                    </a>
                    <a href="#" class="button primary" disabled>
                        Notices (coming soon)
                    </a>
                    <a href="/stats" class="button primary">Statistics</a>
                </div>
            </nav>
        </main>
    </th:block>
</th:block>
