<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <section class="flex flex-col items-center space-y-4 my-8">
                <h1>Welcome to Crusher</h1>
                <p class="text-muted-foreground">
                    Track your climbing progress and sessions
                </p>
            </section>

            <section class="card p-4 space-y-4">
                <h2>Quick Actions</h2>

                <div class="flex flex-col gap-4">
                    <a th:href="@{/sessions}" class="button primary">
                        View Sessions
                    </a>

                    <a th:href="@{/sessions/create}" class="button success">
                        <x th:replace="~{components/icons :: play}"></x>
                        Start New Session
                    </a>

                    <a th:href="@{/boulders}" class="button">
                        Browse Boulders
                    </a>
                </div>
            </section>
        </main>
    </th:block>
</th:block>
