<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <div class="text-center space-y-4 my-16">
            <h1>Hello World</h1>
            <p>
                Welcome to Crusher - Track your climbing progress and
                achievements
            </p>
            <a th:href="@{/admin/gyms}">
                Admin-Gyms
            </a>
        </div>
    </th:block>
</th:block>
