<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <div class="max-w-4xl mx-auto">
            <div class="text-center mb-8">
                <h1 class="text-5xl font-bold text-gray-900 mb-4">
                    Hello World
                </h1>
                <p class="text-xl text-gray-600">
                    Welcome to Crusher - Track your climbing progress and
                    achievements
                </p>
            </div>
        </div>
    </th:block>
</th:block>
