:root {
    --box-shadow-size: 0.25rem;
    color-scheme: light;
}

@theme {
    --font-main:
        "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-foreground: black; /* color for text */
    --color-foreground-muted: var(--color-gray-700); /* color muted text */
    --color-main-foreground: black; /* color for text when background is set to main */

    --color-background: var(--color-sky-100);
    --color-secondary-background: white;

    --color-border: black;
    --color-overlay: rgba(0, 0, 0, 0.8);

    --color-main: var(--color-sky-400);
    --color-error: var(--color-rose-400);
    --color-success: var(--color-lime-400);
    --color-warning: var(--color-amber-300);
    --color-accent: var(--color-indigo-500);
    --color-disabled: var(--color-gray-300);
    --color-switch-thumb: white;
    --logo-filter: none;

    --radius-*: initial;
    --radius-base: 0.25rem;

    --shadow-*: initial;
    --shadow-base: var(--box-shadow-size) var(--box-shadow-size) 0
        var(--color-border);

    --spacing-card-inner: 1rem;
    --spacing-card-outer: 1.5rem;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-foreground: var(--color-sky-50);
    --color-foreground-muted: var(--color-sky-200);
    --color-main-foreground: var(--color-sky-50);

    --color-background: var(--color-sky-950);
    --color-secondary-background: var(--color-zinc-800);

    --color-border: black;
    --color-overlay: rgba(2, 6, 23, 0.85);

    --color-main: var(--color-sky-700);
    --color-error: var(--color-rose-700);
    --color-success: var(--color-emerald-700);
    --color-warning: var(--color-amber-700);
    --color-accent: var(--color-sky-300);
    --color-disabled: var(--color-sky-800);
    --color-theme: var(--color-background);
    --color-switch-thumb: var(--color-sky-50);
    --logo-filter: invert(1);
}

@media (min-width: 768px) {
    :root {
        --spacing-card-inner: 1.5rem;
        --spacing-card-outer: 1.5rem;
    }
}
