<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <div
                th:replace="~{components/breadcrumb :: breadcrumb(${breadcrumb})}"
            ></div>

            <div class="flex items-center gap-4">
                <a
                    th:href="@{/admin/gyms/{gymId}/sectors/{sectorId}(gymId=${gym.id}, sectorId=${sector.id})}"
                    class="button button-square"
                >
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 p-4 flex items-center justify-between"
                >
                    <h1>Edit Boulder</h1>
                </header>
            </div>

            <section class="card p-4 max-w-md mx-auto">
                <th:block
                    th:replace="~{components/cu-forms/boulder :: boulder(
                    @{/admin/gyms/{gymId}/sectors/{sectorId}/boulders/{boulderId}(gymId=${gym.id}, sectorId=${sector.id}, boulderId=${boulder.id})},
                    ${boulder},
                    ${gym},
                    ${sector},
                    ${availableColors},
                    ${availableGrades}
                )}"
                ></th:block>
            </section>

            <section class="card p-4 max-w-md mx-auto">
                <form
                    th:action="@{/admin/gyms/{gymId}/sectors/{sectorId}/boulders/{boulderId}(gymId=${gym.id}, sectorId=${sector.id}, boulderId=${boulder.id})}"
                    method="post"
                >
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="button button-danger">
                        Delete Boulder
                    </button>
                </form>
            </section>
        </main>
    </th:block>
</th:block>
