<th:block
    layout:decorate="~{layouts/main}"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <th:block layout:fragment="content">
        <main class="wrapper">
            <div
                th:replace="~{components/breadcrumb :: breadcrumb(${breadcrumb})}"
            ></div>

            <div class="flex items-center gap-4">
                <a
                    th:href="@{/admin/gyms/{gymId}(gymId=${gym.id})}"
                    class="button button-square"
                >
                    <x th:replace="~{components/icons :: arrow-big-left}"></x>
                </a>

                <header
                    class="card flex-1 p-4 flex items-center justify-between"
                >
                    <div>
                        <h1 th:text="${sector.name}">Sector Name</h1>
                        <p class="text-foreground-muted" th:text="${gym.name}">
                            Gym Name
                        </p>
                    </div>
                    <div class="flex gap-4">
                        <a
                            th:href="@{/admin/gyms/{gymId}/sectors/{sectorId}/update(gymId=${gym.id}, sectorId=${sector.id})}"
                            class="button button-primary"
                        >
                            <x
                                th:replace="~{components/icons :: pencil-ruler}"
                            ></x>
                            Edit
                        </a>
                        <a href="#" class="button button-danger button-square">
                            <x th:replace="~{components/icons :: trash-2}"></x>
                        </a>
                    </div>
                </header>
            </div>

            <section class="card p-4 space-y-4">
                <h2>General Information</h2>

                <div class="grid gap-4 grid-cols-2">
                    <div>
                        <h3>Description</h3>
                        <p
                            th:text="${sector.description != null ? sector.description : 'No description provided.'}"
                        >
                            Description goes here
                        </p>
                    </div>

                    <div
                        class="w-full aspect-video rounded-base border-2 overflow-clip bg-background flex items-center justify-center flex-col gap-2"
                    >
                        <x th:replace="~{components/icons :: image-off}"></x>
                        <p class="text-main-foreground font-medium">
                            This sector has no image.
                        </p>
                    </div>

                    <!-- 
                    <img
                        th:src="${sector.imagePath}"
                        alt="Sector image"
                        class="w-full h-full object-cover brightness-20"
                    />
                    -->
                </div>
            </section>

            <section class="card p-4 space-y-4">
                <h2>Boulders</h2>

                <div
                    th:if="${boulders.isEmpty()}"
                    class="border rounded p-6 text-center text-gray-600"
                >
                    No boulders in this sector yet.
                </div>

                <table class="table w-full" th:unless="${boulders.isEmpty()}">
                    <thead>
                        <tr>
                            <th class="w-20">Color</th>
                            <th class="w-20">Grade</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="boulder : ${boulders}">
                            <td>
                                <div
                                    th:class="'color-badge ' + ${boulder.color.cssColorClass}"
                                ></div>
                            </td>
                            <td>
                                <span
                                    class="grade-badge"
                                    th:text="${boulder.grade.name}"
                                >
                                    Grade
                                </span>
                            </td>
                            <td th:text="${boulder.description}">
                                Description
                            </td>
                            <td>
                                <a
                                    th:href="@{/admin/gyms/{gymId}/sectors/{sectorId}/boulders/{boulderId}/update(gymId=${gym.id}, sectorId=${sector.id}, boulderId=${boulder.id})}"
                                    class="button button-primary button-square ml-auto"
                                >
                                    <x
                                        th:replace="~{components/icons :: pencil-ruler}"
                                    ></x>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a
                    th:href="@{/admin/gyms/{gymId}/sectors/{sectorId}/boulders/create(gymId=${gym.id}, sectorId=${sector.id})}"
                    class="button button-success"
                >
                    <x th:replace="~{components/icons :: badge-plus}"></x>
                    Create New Boulder
                </a>
            </section>
        </main>
    </th:block>
</th:block>
